a.navbar-brand(href="#")= appTitle 
button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
	span.navbar-toggler-icon
#navbarSupportedContent.collapse.navbar-collapse
	ul.navbar-nav.mr-auto
		li(class=(menu === 'index')?'nav-item active':'nav-item')
			a.nav-link(href="/")
				| Home 
				span.sr-only (current)
		if(isAdmin || menu === 'admin' || menu === 'post')
			li(class=(menu === 'post')?'nav-item active':'nav-item')
				a.nav-link(href='/articles') Post
			li(class=(menu === 'admin')?'nav-item active':'nav-item')
				a.nav-link(href='/users/admin') Admin
			li
				a.nav-link(href='/users/logout') Log out
		else
			li(class=(menu === 'login')?'nav-item active':'nav-item')
				a.nav-link(href='/users/login') Log in
	#search-bar-form.form-inline.my-2.my-lg-0
		input#search-bar-input.form-control.dropdown-toggle.mr-sm-2(name="keyword" type="search" placeholder="Search" aria-label="Search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
		#search-bar-dropdown.dropdown-menu.dropdown-menu-right