.menu
	ul.nav.nav-pills
		li(class=(menu === "index")?"active":"")
			a(href="/") Home
		if(admin || menu === "admin" || menu === "post")
			li(class=(menu === "post")?"active":"")
				a(href="/articles/post") Post
			li(class=(menu === "admin")?"active":"")
				a(href="/articles/admin") Admin
			li
				a(href="/users/logout") Log out
		else
			li(class=(menu === "login")?"active":"")
				a(href="/users/login") Log in
