
# twitter config
TWITTER_KEY=your_twitter_key
TWITTER_SECRET=your_twitter_secret

# node server
NODE_PORT=3000
NODE_ENV=production

# admin
ADMIN_USER=test
ADMIN_PWD=e10adc3949ba59abbe56e057f20f883e

# cookie
COOKIE_SECRET=your_cookie_secret
SESSION_SECRET=your_session_secret

# admin mail config
MAIL_HOST=your_mail_host
MAIL_USER=your_mail_user
MAIL_PASS=your_mail_password
MAIL_FROM=your_mail_from
MAIL_TO=your_mail_to
