TWITTER_KEY=""
TWITTER_SECRET=""
COOKIE_SECRET="cookie-test" 
SESSION_SECRET="session-test"
MONGO_ADMIN="test"
MONGO_ADMIN_PWD="123456"
MONGO_BLOG_USER="node-test"
MONGO_BLOG_PWD="123456"
MAIL_HOST="your smtp server"
MAIL_USER="your email name"
MAIL_PASS="your email password"
MAIL_FROM="your email address"
MAIL_TO="the email address to receive email"
