extends layout
block page
	- var menu = 'admin'
block content
	div.admin
		if(articles.length === 0)
			p
				| Nothing to display. Add a new
				a(href="/articles") article
				|.
		else
			table.table.table-stripped
				thead
					tr
						th(colspan="2") Actions
						th Post Title
				tbody
					each article, index in articles
						tr(data-id=article.id, class=(!article.published)?"unpublished":"")
							td.action
								button.btn.btn-danger.btn-sm.remove(type="button")
									span.glyphicon.glyphicon-remove(title="Remove")
							td.action
								button.btn.btn-default.btn-sm.publish(type="button")
									span.glyphicon(class=(article.published)?"glyphicon-pause":"glyphicon-play", title=(article.published)?"Unpublish":"Publish")
							td.action
								button.btn.btn-default.btn-sm.edit(type="button")
									span.glyphicon.glyphicon-edit
							td= article.title
block append script
	script(type="text/javascript", src="/static/js/admin.js" async)
