extends layout
block append link
	link(href="/lib/quill/quill.bubble.css", rel="stylesheet")
block content
	p
		h3= title
		#hidden-text.hidden= JSON.stringify(text)
		#other-info
			span.text-muted tags:
				each value, index in tags
					span.mx-1.label.label-default= value
			span.text-muted create time: 
			span.text-muted= lastModified.toDateString()
		hr
		#editor
block append script
	script(src="/lib/quill/quill.js", type="text/javascript")
	script(src="/js/article.js", type="text/javascript" async)
