extends layout
block append link
	link(rel='stylesheet' href='https://cdn.bootcdn.net/ajax/libs/tui-editor/1.4.6/tui-editor.min.css')
	link(rel='stylesheet' href='https://cdn.bootcdn.net/ajax/libs/tui-editor/1.4.6/tui-editor-contents.min.css')
	link(rel='stylesheet', href='https://cdn.bootcdn.net/ajax/libs/codemirror/5.48.4/codemirror.css')
	link(rel='stylesheet', href='https://cdn.bootcdn.net/ajax/libs/highlight.js/9.12.0/styles/github.min.css')
block content
	p
		h3= title
		#other-info
			span.text-muted tags:
				each value, index in tags
					span.mx-1.badge.badge-info= value
			span.text-muted Last Modified: 
			span.text-muted= new Date(lastModified)
		hr
		#editor(value=`${text}`)
	#disqus_thread
block append script
	script(src='https://cdn.bootcdn.net/ajax/libs/tui-editor/1.4.6/tui-editor-Editor-full.min.js')
	script.
		var editor = tui.Editor.factory({
			el: document.querySelector('#editor'),
			viewer: true,
			height: '800px',
			initialValue: $('#editor').attr('value'),
			exts: ['table', 'uml']
		});
		var disqus_config = function () {
			var url = window.location.href;
			this.page.url = url;  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = url.split('/').pop(); // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://reply2future-pw.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	noscript
		| Please enable JavaScript to view the
		a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
