extends layout
block append link
	link(href="/lib/quill/quill.bubble.css", rel="stylesheet")
block append script
	script(src="/lib/quill/quill.js", type="text/javascript")
block content
	p
		h1= title
		#hidden-text.hidden= JSON.stringify(text)
		#other-info
			span.text-muted tags:
				each value, index in tags
					span.label.label-default= value
			span.text-muted create time: 
			span.text-muted= lastModified.toDateString()
		hr
		#editor
	script.
		var quill = new Quill('#editor', {
			theme: 'bubble',
			readOnly: true
		});
		var text = $('#hidden-text').text();
		quill.setContents(JSON.parse(text));
