extends layout
block append link
	link(href="/lib/quill/quill.bubble.css", rel="stylesheet")
block append script
	script(src="/lib/quill/quill.js", type="text/javascript")
block content
	p
		h1= title
		#text-hidden= JSON.stringify(text)
		#editor
	script.
		var quill = new Quill('#editor', {
			theme: 'bubble',
			readOnly: true
		});
		var text = $('#text-hidden').text();
		quill.setContents(JSON.parse(text));
