extends layout

block page
	- var menu = 'index'
block content
	if(articles.length === 0)
		| There's no published content yet.
		a(href="/users/login") Log in
		| to post and publish.
	else
		each article, index in articles
			.list-group
				a.list-group-item.list-group-item-action.flex-column.align-items-start(href="/articles/" + article.slug)
					.d-flex.w-100.justify-content-between
						h3.mb-1= article.title
						small.text-muted= article.lastModified
					p.mb-1= "slug:" + article.slug
