extends layout

block page
	- var menu = 'index'
block content
	if(articles.length === 0)
		| There's no published content yet.
		a(href="/users/login") Log in
		| to post and publish.
	else
		each article, index in articles
			.list-group
				a.list-group-item(href="/articles/" + article.slug)
					h4.list-group-item-heading= article.title
					small.pull-right.text-muted= article.lastModified.toDateString()
					p.text-muted tags: 
						each value, index in article.tags
							span.mx-1.label.label-default= value
