doctype html
html
	head
		title= appTitle
		block link
			link(rel="stylesheet", href="/static/lib/bootstrap/css/bootstrap.min.css")
			link(rel="stylesheet", href="/static/css/style.css")
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		block page
		block headers
			nav.navbar.navbar-default.navbar-fixed-top
				include includes/menu
		#wrap
			.container
				h1.page-header -Now or never-
				p.lead Welcome to my blog! BY&nbsp;
					a(href="https://github.com/feimeizhan") @feimeizhan
					|. Please enjoy.
				block alert
					div.alert.alert-warning.hidden
				.content
					block content
		block footer
			footer
				.container
					p
						| Copyright &copy; 2017 | Issues? Submit to
						a(href="https://github.com/feimeizhan/node-blog/issues") Github
						|.

		block script
			script(type="text/javascript", src="/static/lib/jquery/jquery.min.js")
			script(type="text/javascript", src="/static/lib/bootstrap/js/bootstrap.min.js" async)
