doctype html
html
	head
		title= appTitle
		block link
			link(rel="stylesheet", href="/static/lib/bootstrap/css/bootstrap.min.css")
			link(rel="stylesheet", href="/static/css/style.css")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="The blog is about technical and other funny things.")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	body
		block page
		block headers
			nav.navbar.navbar-inverse.navbar-fixed-top
				include includes/menu
		#wrap
			.container
				block alert
					div.alert.alert-warning.hidden
				.content
					block content
		block footer
			footer
				.container
					p
						| Copyright &copy; 2018 | Issues? Submit to 
						a(href="https://github.com/feimeizhan/node-blog/issues") Github
						|.

		block script
			script(type="text/javascript", src="/static/lib/jquery/jquery.min.js")
			script(type="text/javascript", src="/static/lib/bootstrap/js/bootstrap.min.js" async)
