doctype html
html
	head
		title= appTitle
		script(type="text/javascript", src="/lib/jquery/jquery.min.js")
		script(type="text/javascript", src="/lib/bootstrap/js/bootstrap.min.js")
		link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="/css/style.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		block headers
			nav.navbar.navbar-default.navbar-fixed-top
				include includes/menu
		#wrap
			.container
				h1.page-header -Now or never-
				p.lead Welcome to my blog! BY&nbsp;
					a(href="https://github.com/feimeizhan") @feimeizhan
					|. Please enjoy.
				block page
				block alert
					div.alert.alert-warning.hidden
				.content
					block content
		block footer
			footer
				.container
					p
						| Copyright &copy; 2017 | Issues? Submit to
						a(href="https://github.com/feimeizhan/node-blog/issues") Github
						|.

