extends layout
block append link
	link(href="/lib/quill/quill.snow.css", rel="stylesheet")
block append script
	script(src="/lib/quill/quill.js", type="text/javascript")
block page
	- var menu = 'post'
block content
	h2 Post an article
	#info-alert.alert(role="alert")
	.col-md-8
		form#article-form(role="form")
			.form-group
				label(for="title") Title
				input#title.form-control(name="title", type="text", placeholder="Javascript is good")
			.form-group
				label(for="slug") Slug
				input#slug.form-control(name="slug", type="text", placeholder="js-good")
				span.help-block This string will be used in the URL.
			.form-group
				label(for="tags") Tags
				input#tags.form-control(name="tags", type="text", placeholder="js")
				span.help-block This string will be used in the Category,and seperate with comma(,).
			.form-group
				label(for="text") Text
				#editor
					p Javascript is the best program language of the world.
			p
				button.btn.btn-primary(type="submit") Save

	script.
		var quill = new Quill('#editor', {
			theme: 'snow',
			placeholder: 'Compose an epic...',
			modules: {
				toolbar: [
					['bold', 'italic'],
					['link', 'blockquote', 'code-block', 'image'],
					[{ list: 'ordered' }, { list: 'bullet' }]
				]
			}
		});
		$('#article-form').submit(function(event){
			// stop form from  submitting normally
			event.preventDefault();

			// get values
			var $form = $(this),
				url = $form.attr('action'),
				titleValue = $form.find('input[name=title]').val(),
				slugValue = $form.find('input[name=slug]').val(),
				tagsValue = $form.find('input[name=tags]').val().split(',');

			var sendData = {
				title: titleValue,
				slug: slugValue,
				tags: tagsValue,
				text: quill.getContents()
			};
		
			let alert = $('#info-alert');
			$.ajax({
				url: '/articles',
				type: 'POST',
				data: JSON.stringify(sendData), 
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
			}).done(function(doneData, doneStatus, doneXHR){
				if(doneXHR.status == 201){
					// create successfully
					alert.addClass('alert alert-success');
				} else {
					// TODO: other status
					alert.addClass('alert alert-warning');
				}
				alert.append(doneData.message);
			}).fail(function(failXHR, failStatus, errorThrow){
				alert.addClass('alert alert-danger').append(failXHR.responseJSON.message);
			}).always(function(){
				alert.show();
			});
		});
