#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}
footer {
	height: 60px;
	margin:auto 110px;
}
html,
body {
	height: 100%;
}
.jumbotron {
	text-align: center;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.form-group{
	margin-right: 10px;
}
.content {
	margin:40px 60px;	
}
#editor{
	font-size: 18px;
	height: auto;
	min-height: 375px;
	padding: 10px;
}
#info-alert{
	display: none;
}
tr.unpublished {
	color: #cec1c2;
}